<nav class="navbar navbar-reverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span class="glyphicon glyphicon-picture"></span>
                My Instagram Photos
            </a>
        </div>
    </div>
</nav>